<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="page-header">
    <h2>Login</h2>
</div>

<div th:if="${param.error}" class="error-message">
    Invalid email or password
</div>

<div th:if="${param.logout}">
    You have been logged out
</div>

<div class="login-container">

    <form class="login-form"
          th:action="@{/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="login-field">
            <label>Email</label>
            <input type="text" name="username">
        </div>

        <div class="login-field">
            <label>Password</label>
            <input type="password" name="password">
        </div>

        <button type="submit">Login</button>

    </form>

    <form class="login-button-container"
          th:action="@{/signup/new}" method="get">
        <button type="submit">No account? Signup here!</button>
    </form>

</div>

</body>
</html>