<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>All Cars</h2>

<table th:border="1">
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="c : ${cars}">
        <td th:text="${c.make}">Make</td>
        <td th:text="${c.model}">Model</td>
        <td th:text="${c.year}">Year</td>
    </tr>

    </tbody>
</table>
</body>
</html>